#blue {
    color:blue;
    size: 20;
}

#orange {
    color: orange;
}

#red {
    color: red;
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

#orange {
    color: orange;
}

.class-title {
    font-weight: normal;
}

img {
    height: 200px;
    width: 200px;
}